/* 
    Som Ramnani Portfolio Website
    Author: Som Ramnani
    Date: 2/15/2019

    Filename: style.css
*/


/**********General Styling **********/

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
  
    
}
body {
    min-height: 100%;
 

  }

a{
    text-decoration: none;
}

#content{
    background-color: #ffffff;
    display: block;
   
    height: auto;
    
}
header{
    /* sets the border to solid and the color for the header */
    border-bottom: solid #cccccc;
    padding:30px;
}

.wrapper{
    /* Setting the placement of the text  */
    margin: 0 auto 0 auto; 
    width:60em;
    padding: 20px;
    border: solid #dddddd;
    padding-top: 20px;
    transform: translateY(20px);
    background-color: #ffffff;
    
}
.main_section{
    /* setting the middle section's color */
    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  
  
  
    /* background-color: lightgrey; */
    min-height: 100%;
  
      
}

.aboutPageInformation{
    padding: 10px;
    line-height: 2em;
}

/**********Heading Styles **********/

#titleName {
    /* Adjusting the placement of the title name in the header */
    display:inline;
    position: relative;
    left:7em;
    bottom:8px;
    padding: 38px;
    
    /* Setting the color */
    background-color: #4aaaa5;
    color: white;
}

#aboutMeTitle, #projectsTitle, #contactPageTitle{
    color:#4aaaa5;
    border-bottom: solid #cccccc ;
    padding-bottom: 40px;
    font-size: 2em;
    
}

/********** Font Styles **********/
h1{
    font-family: 'Georgia', Times, "Times New Roman", serif;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/**********Header Styles **********/



/**********Navigation Styles **********/
#navbar{
    /*Removes the bullets in the navbar */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
    /* Displays navbar to the right */
    float: right;  
    
    /* Sets the specific location of the navbar */
    transform: translateX(-25em) translateY(-2em);   
}

.navbarItems{
    /* Makes navbar horizontal */
    display: inline;
    
    /*Makes a line in between each navbar item */
    border-right-style: solid;
    border-right-color: #777777;
}

.navbarItems a{
    padding: 10px;
    
    /* Sets the navbar color */
    color: #777777;
    
    /* Removes underline */
    text-decoration: none;
}

.navbarItems a:hover{
    /* Change the link color on hover */
    background-color: #4aaaa5;
    color:white;    
}

/**********Video Styles **********/


/**********Image Styles **********/
#pictureOfSom{
    height: 11em;
    width: auto;
    padding-right: 20px;
   
   float:left;
   
   
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#DemPizzaLogoPic{
      height: 200px;
      width: auto;
  }

#perrucciMediaPic{
    height: 100px;
    width: auto;
    padding: 40px;
    transform: translateX(-15em);
}

#rpsImage{
    height: 200px;
    width: auto;
    transform: translateX(30em);    
}


/***********Footer Styles ***********/
#copyright{
    font-size: 10px;
    text-align:center;
}

footer{
    background-color: #666666;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    
    /* Sets the footer to the bottom and stays there */
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/***********Form Styles ***********/

#subject{
    height:100px;

}


 select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }


  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.labels{
    font-size: 20px;

  
}
  
/* input[type=text]{
    padding-left:20px;
} */
