/* General Styles
========================================================================== */ 
	  html {
		  scroll-behavior: smooth;
      height: 100%;
    }
  
    html, body{
      height: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      background-color: #f5f5f5;
    }
    a{
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
      
  }

    .container{
    
      background-color: white;
      transform: translateY(1em);
    }

    #maincontent {
      padding-bottom: 7em;
    }

    /* Border for each page */
    .border{
      padding: 40px;
    }


    /* Middle content background image */
    .background-color{
      background-image: url("../assets/images/nyc2.jpg");
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
    }

    .homepageContent{
      transform: translateY(10em);
      text-transform: uppercase;
    }

    .about-page-info{
      transform: translateY(2em);
      padding-bottom: 5em;
		}
		
    
		.hero-section{
		  height: 100%;
		  background-size: cover;
    }

    #aboutmesection{
      padding-top:4em;
      background-color: #f5f5f5;
      
    }

    #projects{
      padding-top: 2em
    }
    
/* ========================================================================== */ 
    


/* Navigation Styles
========================================================================== */ 

  .nav-item{
    float: right;
  }

  #navbar-contact{
    border: 1px solid white;
  }
/* ========================================================================== */ 



/* Image Styles
========================================================================== */ 

  #image{
		width: 50%;
    height: auto;
    padding: 20px;
  }
  
  .portfolioimages{
    padding-bottom: 40px;
  }
  
  /* Portfolio parralax image */
	.codeparralax{
		background-image: url("../assets/images/Code.jpg");
    height: 800px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .skillsimages{
      width: auto;
      height: 120px;
      padding: 10px;
    }
    #css3image{
      padding-right: 10px;

    }
    
  
    
/* ========================================================================== */ 



/* Animation Styles
========================================================================== */ 

   .animated { 
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both; 
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 2s;
 
  
   
  }  
  .aboutmeanimation { 
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both; 
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 2s;
 
  
   
  } 
  

/* ========================================================================== */ 


/* Button Styles
========================================================================== */
  .homePageIcons{
    font-size: 4em;
    color: black;
    padding: 10px;
  }

  .resumeicon{
    font-size: 3.6em;
    color: black;
  } 
  
  .homePageIcons:hover, .resumeicon:hover{
    color: white;
  }


  #getstartedbutton{
    display: block; 
    margin: 0 auto; 
    border-radius: 4px;
    background-color:black;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px white;
  }

  #getstartedbutton{  
    cursor: pointer;
    position: relative;
    transition: 0.5s;
  }

  #getstartedbutton:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -2px;
    transition: 0.5s;
  } 

  #getstartedbutton:hover{
    padding-right: 20px;
    padding-left:8px;
  } 

  #getstartedbutton:hover:after {
    opacity: 1;
    right: 10px;
  } 

  .pulse{
    width: 97%;
  }

  .aboutpagearrowdown{
    transform: translateY(1em);
    font-size: 2em;
    color: black;
   
}
.projectspagearrow{
  font-size: 2em;
  color: white;

}



/* ========================================================================== */ 


/* Footer Styles
========================================================================== */ 
  footer{
    /* background-color: #3A3535; */
    color: white;
		padding: 0px;
		width: 100%;  
  }

/* ========================================================================== */ 


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }



